<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        body {
            background-color: #252525;
            color: white;
        }

        .navbar {
            background-color: #000 !important;
        }

        .navbar-brand {
            color: #FFA500;
            font-weight: bold;
        }

        .nav-link {
            color: #808080;
            font-weight: bold;
        }

        .nav-link:hover {
            color: #000;
        }
        .content {
            background-color: #343a40;
            border: 1px solid #FFA500;
            padding: 20px;
            margin-top: 20px;
        }
    </style>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Sentiment Tool</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="content">
                    <h2>About</h2>
                    <ul style="list-style-type: none; padding-left: 0;">
                        <li style="padding-left: 20px;"><span style="color: #FFA500; font-weight: bold; margin-right: 10px;">●</span>To use this tool: Simply copy and paste the content in the given box and hit the submit button. Each sentence should be entered on a new line.</li><br>
                        <li style="padding-left: 20px;"><span style="color: #FFA500; font-weight: bold; margin-right: 10px;">●</span>If you are checking words in an Excel sheet or similar, you can copy the entire content and paste it here, then hit enter.</li><br>
                        <li style="padding-left: 20px;"><span style="color: #FFA500; font-weight: bold; margin-right: 10px;">●</span>This sentiment tool has a threshold for positive, negative, and neutral sentiments. Positive sentiment is considered when the score is above 0.6, negative sentiment when below 0.4, and neutral sentiment between 0.4 and 0.6. You can adjust these thresholds by contacting the admin of this tool.</li><br>
                        <li style="padding-left: 20px;"><span style="color: #FFA500; font-weight: bold; margin-right: 10px;">●</span>The core concept of this model is logistic regression built on text using NLP techniques. For more information, please contact us.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    
    
    

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
